{%- assign mega_menus = section.blocks | map: 'settings' | map: 'menu_item' -%}

<div id="mobile-menu" class="mobile-menu" aria-hidden="true">
  {%- render 'icon', icon: 'nav-triangle-borderless' -%}

  <div class="mobile-menu__inner">
    <div class="mobile-menu__panel">
      <div class="mobile-menu__section">
        <ul class="mobile-menu__nav" data-type="menu" role="list">

          <li class="mobile-menu__nav-item">
            <a href="{{ routes.root_url }}" class="mobile-menu__nav-link" data-type="menuitem">Home</a>
          </li>

          <li class="mobile-menu__nav-item">
            <a href="/collections/tools" class="mobile-menu__nav-link" data-type="menuitem">Tools</a>
          </li>

          <li class="mobile-menu__nav-item">
            <a href="/collections/generators" class="mobile-menu__nav-link" data-type="menuitem">Generators</a>
          </li>

          <li class="mobile-menu__nav-item">
            <a href="/collections/compressors" class="mobile-menu__nav-link" data-type="menuitem">Compressors</a>
          </li>

          <li class="mobile-menu__nav-item">
            <a href="/collections/cleaning" class="mobile-menu__nav-link" data-type="menuitem">Cleaning</a>
          </li>

          <li class="mobile-menu__nav-item">
            <a href="/collections/water-pump" class="mobile-menu__nav-link" data-type="menuitem">Water Pump</a>
          </li>

          <li class="mobile-menu__nav-item">
            <a href="/collections/accessories" class="mobile-menu__nav-link" data-type="menuitem">Accessories</a>
          </li>

          <li class="mobile-menu__nav-item">
            <a href="/pages/contact" class="mobile-menu__nav-link" data-type="menuitem">Contact</a>
          </li>

        </ul>
      </div>

      {%- if section.settings.navigation_phone_number != blank or section.settings.navigation_email != blank -%}
        <div class="mobile-menu__section mobile-menu__section--loose">
          <p class="mobile-menu__section-title heading h5">{{ 'header.navigation.need_help' | t }}</p>

          {%- if section.settings.navigation_phone_number != blank -%}
            <div class="mobile-menu__help-wrapper">
              {%- render 'icon', icon: 'bi-phone' -%}
              <span>{{ section.settings.navigation_phone_number | escape }}</span>
            </div>
          {%- endif -%}

          {%- if section.settings.navigation_email != blank -%}
            <div class="mobile-menu__help-wrapper">
              {%- render 'icon', icon: 'bi-email' -%}
              <a href="mailto:{{ section.settings.navigation_email }}">{{ section.settings.navigation_email | escape }}</a>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- capture social_media -%}{% render 'social-media', show_social_media_name: true %}{%- endcapture -%}

      {%- if section.settings.show_navigation_social_media and social_media != blank -%}
        <div class="mobile-menu__section mobile-menu__section--loose">
          <p class="mobile-menu__section-title heading h5">{{ 'header.navigation.follow_us' | t }}</p>

          {{- social_media -}}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
